*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:50vh;
   width:fit-content;
    justify-content: center;
    flex-direction: column;
     background:linear-gradient(rgb(47,150,16),rgb(48,62,143));
    font-family: sans-serif;
    color: magenta;
}
.location{
    height:20vh;
    width:fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left:150pt;
    font-size: 18px;
}
table{
    
    align-items:right;
    position:relative;
    width:fit-content;
     background:linear-gradient(rgb(47,150,163),rgb(48,62,143));


}
.temperature{
    flex-direction: column;
    
}
.degree-section{
    display: flex;
    align-items: center;
    padding-left:25pt;
    cursor: pointer;
    font-size: 25px;
}
.degree-section span {
    margin: 10px;
      padding-left:25pt;
    font-size: 25px;

}
}
.degree-section h2{
    font-size: 30px;

    
}

.temperature-description
{
   font-size: 22px;
      padding-left:30pt;
    }
