*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:70vh;
    display:flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(rgb(47,150,163)rgb(48,62,143));
    font-family: sans-serif;
    color: magenta;
}
.location{
    height:15vh;
    width:-webkit-fill-available%;
    padding-left:40pt;
    display: flex;
  
    background
    justify-content: space-around;
    align-items: center;
}
table{
    
    align-items:right;
    position:fixed;
    


}
.temperature{
    flex-direction: column;
    width:590px;
    height:200px;
}
.degree-section{
    display: flex;
    align-items: center;
    padding-left:80pt;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 15px;
    align-items:center;

}
}
.degree-section h2{
    font-size: 30px;
    padding-left:80pt;
    align-items:center;
}

.temperature-description
{
    padding-left:80pt;
}
