*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
     height:20vh;
   padding-right:-290pt;
   padding:10px;
   padding-bottom:-50pt;
   width:100pt;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color:magenta;
}
.location{
    height:30vh;
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left:25px;
}
table{
    
    align-items:right;
    align:left;
    


}
.temperature{
    flex-direction: column;
    width:590px;
    height:200px;
}
.degree-section{
    display: flex;
    align-items: center;
    padding-left:80pt;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 15px;
    align-items:center;

}
}
.degree-section h2{
    font-size: 30px;
    padding-left:80pt;
    align-items:center;
}

.temperature-description
{
    padding-left:80pt;
}
